@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
  font-family: 'Circular Std', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #121212;
  color: #ffffff;
}

html {
  scroll-behavior: smooth;
}

@layer utilities {
  .text-spotify-green {
    color: #ffffff;
  }
  .topMenuGreen
  {
    color: #1DB954;
  }
  .bg-spotify-green {
    background: linear-gradient(90deg, #1DB954, #1DB954);
  }
  .hover\:bg-spotify-green-dark:hover {
    background: linear-gradient(90deg, #1DB954, #1DB954);
  }
  .pills-spotify-green {
    background: linear-gradient(90deg, #1DB954, #1DB954);
    color: white;  
  }
 section{
  background-color: black !important;
 }
 .blackWithBorder
 {
  background-color: #282828;
  /*border-color: #1DB954;
  border-width: 2px;*/
 }
}

