@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
  font-family: 'Circular Std', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #121212;
  color: #ffffff;
}

html {
  scroll-behavior: smooth;
}

@layer utilities {
  .text-spotify-green {
    color: #1DB954;
  }
  .bg-spotify-green {
    background-color: #1DB954;
  }
  .hover\:bg-spotify-green-dark:hover {
    background-color: #1ed760;
  }
}